img {width: 200px;}
body{background-color:azure;
font-family: 'Times New Roman', Times, serif;
font-size: 2em;
padding-bottom: 100px;}

.flavor{
    color:darkgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
   
}

#Rocky {
    color: darkgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.icecream{
    background-color:blanchedalmond;
    text-align: center;
    margin: auto;
    width: 300px;
}

footer {
    border: 3px red;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: azure;
}

nav
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  nav
  li {
    float: left;
  }
  nav
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
 nav
  li a:hover {
    background-color: #111;
  }